* {
  margin: 0;
  font-family: 'DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000" fill-opacity=".54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
  width: 20px;
  height: 20px;
  border-width: thin;
}

.dd-list {
  position: absolute;
  width: 100%;
  z-index: 1;
  line-height: 1;
  background-color: #fff;
  /* White background */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* Shadow effect */
  border-radius: 5px;
  /* Rounded corners */
  padding: 10px;
  /* Some padding */
}

.dd-list-item {
  width: 100%;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0;
  /* Some vertical padding for each item */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

.dd-list-item:hover {
  background-color: #f1f1f1;
  /* Change background color on hover */
}

.dd-wrapper {
  position: relative;
  width: 100%;
  /* Set width to 100% */
}